<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BurgerORM</title>
    {{!-- Bootstrap For Alignment --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
        crossorigin="anonymous">
    {{!-- Custom Style sheet --}}
    <link type="text/css" rel="stylesheet" href="assets/style.css">
    {{!-- Google Font --}}
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
</head>  
<body>
    <div>
        {{{ body }}}
    </div>
</body>
    {{!-- jQuery Library --}} 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    {{!-- External Javascript File --}}
    <script src="js/client.js"></script>
</html>  